@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
  --color-plateShare:#ba692b;
}

.glow-hover:hover {
    box-shadow: 0 0 0 6px rgba(239, 68, 68, 0.15);
}